[Unit]
Description=Circle firewall
Before=network.target
After=syslog.target

[Service]
EnvironmentFile=/etc/default/circle.conf
ExecStart=/usr/sbin/circle $OPTS -Vl 0 start
ExecReload=/usr/sbin/circle $OPTS -Vl 0 restart
ExecStop=/usr/sbin/circle stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
